@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@font-face {
  font-family: 'pilotcommand';
  src: local('pilotcommand'),
       url('./../fonts/pilotcommand.ttf') format('ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #030017;
}
.body-bg {
  /* background-image: url(../images/bg-banner.jpg); */
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  /* padding-top: 216px; */
}
h1,
h2,
h3,h4,h5,h6 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;

}
.container {
  padding: 0pxs;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 55px;
}
p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
video{
  margin-left: 0;
  width: 1280px;
}
.bg-black{
  background-color: black;
}
